<!DOCTYPE html>
<html lang="en">

{{> headPartial }}

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">JATracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {{#if active.allApplications}} active {{/if}}" href="/application">Applications
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if active.newApplication}} active {{/if}}" href="/application/new">Create
                        New Application</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <a class="nav-link {{#if active.profile}} active {{/if}}" href="/user/view_profile"><i class="fa fa-user"></i>
                        Your Profile</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        {{{body}}}
    </main>
    <script src="/public/js/main.js"></script>
    <script src="/public/js/tota11y.min.js"></script>
    <script src="/public/js/nodep-date-input-polyfill.dist.js"></script>
</body>

</html>