<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>JOB TRACKING WEB APPLICATION</title>
</head>
<header>
  <h2>{{user.username}}</h2>
</header>

<section class="profiles">
  <h3>Your Profiles:</h3>
{{!--   
  {{#each profiles}}
    <article>
      <h4>profileinfo</h4>
      {{#if this.text}}
        <p>{{this.text}}</p>
      {{/if}}
    </article>
  {{else}}
    <p>No profiles.</p>
  {{/each}} --}}
</section>
</html>