<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>JOB TRACKING WEB APPLICATION</title>
</head>

<article>
  <h2>Error: {{errorNum}}</h2>
  <p>{{description}}</p>
</article>

</html>