<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>JOB TRACKING WEB APPLICATION</title>
</head>
<section class="movies">
  <header>
    <h2>Job info</h2>
  </header>

</section>

</html>