<article>
  <div class="jumbotron text-center">
  </div>
        <div class="add-form">
          <form action="/user/project" method="post"  class="md-form" id="application-submission">
            <h2>We only support projects with URLs at the moment...</h2>

            <div class="form-group">
              <label for="name">Name</label>
              <input id="name" type="text" name="name" placeholder="Name" 
                class="form-control" />
            </div>

            <div class="form-group">
              <label for="position">Position</label>
              <input id="position" type="text" name="position" placeholder="Enter Position (Required)" 
                class="form-control" />
            </div>

            <div class="form-group">
              <label for="startDate">Start Date</label>
              <input id="startDate" type="date" name="startDate" placeholder="Enter Start Date (Required)" class="form-control" />
            </div>

            <div class="form-group">
              <label for="endDate">End Date</label>
              <input id="endDate" type="date" name="endDate" placeholder="Enter End Date" class="form-control" />
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <textarea id="description" class="form-control" rows="4"  placeholder="Any Other Description" name="description"></textarea>
            </div>

            <button id="cancel" name="cancel" class="btn btn-danger" type="button" onclick="hide_project_form()">Cancel</button>
            <button id="save" name="save" class="btn btn-success" type="submit">Save</button>
          </form>
        </div>
</article>