<article>
    <div class="jumbotron text-center">
        <h1>All Applications </h1>
    </div>
    <div class="container">
        {{#if applications}}
        <ul class="list-group">
            {{#each applications}}
            <li class="list-group-item">
                {{> applicationPartial}}
            </li>
            {{/each}}
        </ul>
        {{else}}
        <div class="card">
            <div class="card-body">
                <p class="text-center"> <small> No Application is found .
                        Please click on button below to create a new application </p> </small </div> <div class="form-group">

                <p class="text-center"> <a class="btn btn-primary btn-xs" href="/application/new" role="button">Create
                        New Job Application</a> </p>
            </div>
        </div>
        {{/if}}
    </div>
</article>