<article>
    <div class="jumbotron text-center">
        <h1>All Applications </h1>
    </div>
    {{#if applications}}
    <div class="container">

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Search</button>
            </span>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Filter
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">A-Z</a>
                    <a class="dropdown-item" href="#">Most Recent</a>

                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    {{/if}}
    <div class="container">
        {{#if applications}}
        <ul class="list-group">
            {{#each applications}}
            <li class="list-group-item">
                {{> applicationPartial}}
            </li>
            {{/each}}
        </ul>
        {{else}}
        <div class="card">
            <div class="card-body">
                <p class="text-center"> <small> No Application is found .
                        Please click on button below to create a new application </p> </small </div> <div class="form-group">

                <p class="text-center"> <a class="btn btn-primary btn-xs" href="/application/new" role="button">Create
                        New Job Application</a> </p>
            </div>
        </div>
        {{/if}}
    </div>
</article>