
<article>
    <div class="jumbotron text-center">
        <h1>All Applications </h1>
    </div>

    <div class="container">
        <ul class="list-group">
          
            <li class="list-group-item">
                <div class="card">
                   
                    <div class="card-body">
                        {{!-- <h6 class="card-subtitle mb-2 text-mutedcard-subtitle mb-2 text-muted"> --}}

                     <p class="text-center"> <small>    No Application is found .
                            Please click on button below to create a new application </p> </small
                    </div>
                          <div class="form-group">
       
     <p class="text-center">    <a class="btn btn-primary btn-xs" href="/application/new" role="button">Create New Job Application</a> </p> 
      </div>
                </div>
            </li>
         
        </ul>
    </div>
</article>